<!-- Features -->
			<div id="features-wrapper">
				<div id="features">
					<div class="5grid-layout">
						<div class="row">
							<div class="12u">
								
								<!-- Feature #4 -->
									<section>
										<< widget('top_box1','h2')>>
									</section>

							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Content -->
			<div id="content-wrapper">
				<div id="content">
					<div class="5grid-layout">
						<div class="row">
							<div class="4u">

								<!-- Box #1 -->
									<section>
										<< widget('top_box2','h2')>>
									</section>

							</div>
							<div class="4u">

								<!-- Box #2 -->
									<section>
										<< widget('top_box3','h2')>>
									</section>

							</div>
							<div class="4u">
								
								<!-- Box #3 -->
									<section>
										<< widget('top_box4','h2')>>
									</section>

							</div>
						</div>
					</div>
				</div>
			</div>