<!-- Content -->
<div id="content-wrapper">
	<div id="content">
		<div class="5grid-layout">
			<div class="row">
				<div class="3u">
					
					<!-- Sidebar -->
						<section>
							<< widget('top_box1','h2')>>
						</section>
						<section>
							<< widget('top_box2','h2')>>
						</section>

				</div>
				<div class="9u mobileUI-main-content">
					
					<!-- Main Content -->
						<section>
							<header>
								<h2><< the('title') >></h2>
							</header>
							<< the('content') >>
						</section>
				</div>
			</div>
		</div>
	</div>
</div>
