BODY{
	background-color: #383838;
}

h1,h2,h3{
	font-size: 1.1em;
	padding: 3px;
	margin: 5px;
}

a{
	text-decoration: none;
	color: White;
}

a img{
	border: none;
}

img{
	border: 1px solid silver;
}

#site{
	width: 800px;
	background-color: #2C2C2C;
}

#header{
	background-image: url(header.jpg);
	height: 129px;
	background-repeat: no-repeat;
}

#menuCell{
	background-image: url(menubg.jpg);
	background-repeat: repeat-x;
	height: 49px;
	text-align: center;

}

/*Content Area*/
#contentarea{
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}


#footerUp{
	background-image: url(footerup.jpg);
	background-repeat: no-repeat;
	line-height: 13px;
}

#footerDown{
	background-image: url(footerdn.jpg);
	background-repeat: no-repeat;
	line-height: 12px;
}

#footer{
	background-image: url(footerbg.jpg);
	color: White;
	text-align: center;
	height: 43px;
}

#menuCell ul{
	margin-top: 15px;
	list-style: none;
	font-family: "Times New Roman", Times, serif;
}

#menuCell ul li{
	display: inline;
	padding: 5px;
	background-image: url(seperator.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

#menuCell ul li a{
	color: White;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	line-height: 15px;
}

.breakcrumb{
	background-image: url(breadbg.jpg);
	margin: 0px;
	color: Silver;
	background-color: transparent;
	height: 23px;
}

.breakcrumb a{
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	padding: 3px;
	color: White;
}

#divTable{
	width: 100%;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

#leftSide{
	width: 150px;
	padding: 5px;
}

.alignTop{
	vertical-align: top;
}

.seperator{
	height: 10px;
	padding: 5px;
	margin: 5px;
}

.main{
	width: 650px;
	padding-left:10px;
	padding-right: 10px; 
}

.rateIt{
	font-size: 80%;
	display: inline;
	padding: 10px;
	float: right;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 5px;
	border: 1px solid black;
	background-color: #24301C;

}

.rateIt p{
	margin-bottom: 5px;
	margin-top: 2px;
	padding: 2px;
	margin: 2px;
}

.toolBar{
	width: auto;
}

.toolBar ul{
	list-style: none;
	display:  inline;
	width: auto;
}

.toolBar li{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.content{
	background-color: #161616;
	min-height: 250px;
	border: 1px solid white;
	border-top: none; 
	padding: 5px;
}

.title{
	background-image: url(titlebg.jpg);
	height: 30px;
	border: 1px solid white;
	border-bottom: none;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}

.blockContent{
	background-color: #161616;
	border: 1px solid white;
	border-top: none; 
	padding: 3px;
}

.noBorder{
	border: none;
}

.ending{
	background-image: url(endingbg.jpg);
	height: 30px;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}

.commentsEditor{
	width:60%;
	height: 100px;
}

.comment{
  background-color: #2B2B2B;
  border: 1px solid #161616;
  padding: 6px 10px;
  margin-top: 10px;
}

.commentTitle{
	font-weight: bold;
	color: #BFBFBF;
	font-size: 95%;
	padding: 5px;
	margin-top: 15px;
}

.commentText{
	padding: 5px;
	font-size: 90%;
}

.commentInfo{
	font-size: 80%;
	text-align: right;
}

.subCats{
	list-style: none;
}

.subCats li{
	display: inline;
}

.bar{
	margin-left: 2px;
	text-align: center;
	
}

.bar li{
	list-style: none;
	display: inline;
	padding: 5px;
	line-height: 24px;
}

.bar li a{
	text-decoration: none;
}

.description{
	background-color: #4C4C4C;
}

.forums{
	width: 100%;
}

.small{
	font-size: 80%;
}

.forums{
	background-color: #161616;
}

.mainForum{
	background-color: #B3CAF2;
	color: White;
	font-weight: bold;
	padding: 3px;
}

.normal{
	text-align: left;
}



.subForum a{
	margin-left: 20px;
}

.subForum .description{
	margin-left: 20px;
}

.centerMidle{
	text-align: center;
	vertical-align: middle;
}

.topic{
	background-color: #161616;
}

.even TD{
	background-color: #323232;
	margin-bottom: 5px;
}

.odd TD{
	background-color: #383838;
	margin-bottom: 5px;
}

.quote{
	background-color: #969696;
	margin-left: 15px;
	padding: 4px;
}

.memberInfo{
	background-color: #484848;
	width: 300px;
}

.yellow{
	background-color: #3C583B;
	color: #C1D630;
}