<?xml version="1.0" encoding="utf-8"?>
<config>
	<host>
		<http>http://</http>
		<subdomain/>
		<domain>localhost</domain>
		<folder>/Qoolv2</folder>
		<separator>/</separator>
		<absolute_path>C:/xampp/htdocs/Qoolv2/</absolute_path>
	</host>
	<database>
		<type>mysql</type>
		<host>localhost</host>
		<username>root</username>
		<password/>
		<db>qool_cms</db>
		<prefix>qool_</prefix>
	</database>
	<site>
		<backend_title>Qool v2.0</backend_title>
		<frontend_title>My new site is powered by Qool CMS v2.0</frontend_title>
		<description>Qool CMS is the next generation of content management</description>
		<slogan>and i am proud!</slogan>
		<feed_copyright>This feed is powered by Qool CMS</feed_copyright>
		<feed_generator>Qool CMS v2.0</feed_generator>
		<feed_author_name>Qool CMS v2.0</feed_author_name>
		<feed_author_email>admin@localhost</feed_author_email>
		<feed_logo_image>http://www.qoolsoft.gr/feed_logo.png</feed_logo_image>
		<captcha_adapter>Figlet</captcha_adapter>
		<recaptcha_pub/>
		<recaptcha_priv/>
		<help>on</help>
		<default>default</default>
	</site>
	<social>
		<twitterusername>ThyClub</twitterusername>
		<fbusername>basdog22</fbusername>
		<dropboxchooser>np81jh9ahn7t50f</dropboxchooser>
		<dropboxkey>pu818lrf0dykjih</dropboxkey>
		<dropboxsecret>um4wo5bbdqm92ip</dropboxsecret>
		<dropboxtoken/>
		<hasdropbox>off</hasdropbox>
	<googleusername>basdog22</googleusername></social>
	<cache>
		<rules>
			<overallcache time="300"/>
			<cacheuser>1</cacheuser>
			<cacheadmin>1</cacheadmin>
		</rules>
	</cache>
	<template>
		<frontend>
			<title>arcana</title>
			<engine>php</engine>
			<available>
				<template/>
				<template>
					<title>arcana</title>
					<engine>php</engine>
				</template>
				<template>
					<title>savant</title>
					<engine>savant</engine>
				</template>
				<template>
					<title>smarties</title>
					<engine>smarty</engine>
				</template>
				<template>
					<title>halcyonic</title>
					<engine>twig</engine>
				</template>
			</available>
		</frontend>
		<backend>
			<title>charisma</title>
			<engine>php</engine>
		</backend>
		<mobile>
			<title>default</title>
			<engine>php</engine>
		</mobile>
	</template>
	<languages>
		<frontend>
			<language>english</language>
			<shortname>en</shortname>
			<available>
				<language>english</language>
				<language>greek</language>
			</available>
		</frontend>
		<backend>
			<language>greek</language>
			<shortname>el</shortname>
			<available>
				<language>english</language>
				<language>greek</language>
			</available>
		</backend>
		<content>
			<language>english</language>
			<shortname>en</shortname>
			<locale>en_US</locale>
			<available>
				
				<language shortname="el" locale="el_GR" name="greek"/>
			<language shortname="en" locale="en_US" name="english"/><language shortname="it" locale="it_IT" name="italian"/></available>
		</content>
	</languages>
	<thirdparty>
		<template_engines>
			<php dir="php" extension="php" assigner="php.php"/>
			<smarty dir="smarty" extension="tpl" assigner="smarty.php"/>
			<twig dir="twig" extension="html" assigner="twig.php"/>
			<twig dir="savant" extension="php" assigner="savant.php"/>
			<twig dir="Wordpress" extension="php" assigner="wordpress.php"/>
		</template_engines>
	</thirdparty>
	<qool>
		<codename>Sommige</codename>
		<version>2.0</version>
		<versioncheck>http://www.qool.gr/api/getversion</versioncheck>
		<newsfeed>http://www.qool.gr/feed/default</newsfeed>
	</qool>
</config>
